#arrange-choices {
    position: relative;
    border-radius: 5px;
    width: 100%;
    margin: auto;
}

.arrange-box {
    position: relative;
    display: block;
    z-index: 1;
    border: none;
    margin: 40px auto;
    width: 250px;
    height: 250px;
    text-transform: capitalize;
}

.arrange {
    position: relative;
    background-color: white;
    z-index: 1;
    border: solid;
    border-color:rgba(255, 192, 203, .5);
    border-width: 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}


.arrange:hover {
    top: -4px;
    border-color: rgb(130, 200, 255);
}

.arrange-name {
    position: relative;
    cursor: pointer;
    z-index: 3;
    margin: auto;
    top: -20px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    background-color: pink;
}

.arrange-text {
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    margin: 100px 0px;
    padding: 10px;
    top: -1px;
    width: 230px;
    font-size: 20px;
    background-color: rgba(255, 192, 203, .7);
}

.arrange-price {
    position: relative;
    background-color: rgba(255, 192, 203, .7);
    border-radius: 5px;
    width: 40px;
    height: 20px;
    z-index: 100;
    float: right;
    top: -250px;
}

@media (min-width: 700px) {
    .arrange-box {
        display: inline-block;
        margin: 20px;
    }
}
