.items-container, .total {
    border: solid;
    border-radius: 5px;
    border-color: pink;
    background-color: white;
    width: 90%;
    margin: 10px auto;
}

@media (min-width: 700px) {
    .items-container, .total {
        width: 50%;
    }
}

.cart-title {
    margin: auto;
}

.total {
    height: 50px;
}

.total-title {
    float: left;
    margin: 10px;
}
