.pallet {
    width: 100px;
    height: 100px;
    border: solid;
    border-color: rgb(200, 225, 250);
    margin: 20px;
    border-radius: 50px;
}

.pallet:hover {
    position: relative;
    top: -3px;
    box-shadow: 0px 2px lightslategrey;
    border-color: rgb(130, 200, 255);
}